%div.span-24
  %div.span-22.prepend-1
    %h2 About
%div.span-18.prepend-1
  %div#about
    %p
      Meet Our Experts links publicly available information 
      on the people, departments, graduate fields, facilities, with 
      research and scholarly output such as journal articles, books and chapters, 
      presentations, and posters. Our goal is to feature expertise and the
      range of scholarship across disciplines at The University of Kansas Medical Center, 
      Kansas City, Wichita, and Salina campuses.
      See the 
      =link_to "FAQ", "#{$APPLICATION_URL}/pages/faq"
      for more project details.
    %p
      Search Meet Our Experts for information about faculty, departments 
      and research units, research services and facilities.
    %p
      The
      =link_to "librarians", "#{$APPLICATION_URL}/pages/faq#liaisons"
      and staff of Dykes Library work with researchers, faculty, and staff to collect and curate
      the data in Meet Our Experts.  Please contact your
      =link_to "department's liaison", "#{$APPLICATION_URL}/pages/faq#liaisons"
      or
      %a{:href=> "mailto:#{$SYSADMIN_EMAIL}?subject=#{$APPLICATION_NAME} FAQ Inquiry"} email us
      with any corrections, comments or suggestions for improvement.
    %p  Meet Our Experts runs on the open source software BibApp.    
    %p
      See the 
      =link_to "FAQ", "#{$APPLICATION_URL}/pages/faq"
      for more project details.
    %p
      ="Powered by"
      %strong
        =link_to "BibApp", "http://bibapp.org/"