!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'requested-locale', :content => (I18n.locale || I18n.default_locale).to_s}
    %meta{:name => 'keywords', :content => 'University of Kansas Medical Center'}/
    %meta{:name => 'description', :content => $APPLICATION_TAGLINE}/
    
    /[if IE 6]
      = stylesheet_link_tag "http://www.kumc.edu/css/template2009/ku_ie6.css", :media => "screen"
    /[if IE 7]
      = stylesheet_link_tag "http://www.kumc.edu/css/template2009/ku_ie7.css", :media => "screen"
    /[if IE 8]
      = stylesheet_link_tag "http://www.kumc.edu/css/template2009/ku_ie8.css", :media => "screen"    
     
    = stylesheet_link_tag "blueprint/screen", :media => "screen"    
    = stylesheet_link_tag "blueprint/print",  :media => "print"
    = stylesheet_link_tag "specific/shared/_header", :media => "screen"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.16.custom"
    = yield :stylesheets
    = stylesheet_link_tag "blueprint/local-ku.css", :media => "screen" 
    = stylesheet_link_tag "blueprint/bibapp.css", :media => "screen"    
    -# KUMC Print CSS
    = stylesheet_link_tag "http://www.kumc.edu/css/template2009/kuprint.css", :media => "print"
    -# KUMC Custom CSS
    = stylesheet_link_tag "blueprint/local",  :media => "screen"    
    /[if IE 7]
    = stylesheet_link_tag "blueprint/local-ie",  :media => "screen"   
           
    -# KUMC favicon
    %link{:rel => "shortcut icon", :href => "http://www.ku.edu/favicon.ico"}/
      
    = javascript_include_tag :defaults
    = javascript_include_tag 'gbsclasses'
    = javascript_include_tag 'jsperanto/jquery.jsperanto'
    = javascript_include_tag 'locale'
    = csrf_meta_tag

    -if $DISPLAY_GOOGLE_ANALYTICS == true
      :javascript
        var googleAnalyticsId = "#{$GOOGLE_ANALYTICS_ID}";
      = javascript_include_tag 'specific/shared/google_analytics'

    - if (@feeds)
      - @feeds.each do |feed|
        = auto_discovery_link_tag(feed[:format].to_sym, { :action => feed[:action], :id => feed[:id], :format => feed[:format] })
    - else
      = auto_discovery_link_tag(:rss, { :action => "index", :controller => "search", :q => @query, :format => "rss" })

    %title= t('personalize.application_name') + " - " + (@title || t('layouts.application.default_title'))
  %body 
    -# KUMC accessibility
    #kumc_accessibilty_skip
      %a{:href => '#maincontent', :accesskey => '2'}
        %img{:src => 'http://www.kumc.edu/Images/template2009/widgets/spacer.gif', :alt => 'Skip redundant pieces', :width => '1', :height => '1', :border => '0'}
    -# End KUMC accessibility
    %a{:name => "top"}
    #kutemplate
      #kubackground.backgroundblue
        = render :partial => "shared/header"
        #content.container
          = yield :admin_bar
          #flash-messages.span-22.prepend-1
            = render :partial => "shared/flash_messages"
          = yield

      = render :partial => "shared/footer"
  = yield :javascripts